@if (paymentInformationForm) {
  <form [formGroup]="paymentInformationForm">
    <mat-form-field>
      <mat-label>IBAN</mat-label>
      <input id="iban" type="text" matInput formControlName="iban" />
      @if (paymentInformationForm.get('iban')?.hasError('required')) {
        <mat-error>
          Pflichtangabe
        </mat-error>
      }
      @if (paymentInformationForm.get('iban')?.hasError('iban')) {
        <mat-error>
          Die eingegebene IBAN ist ungültig
        </mat-error>
      }
      <mat-hint>Beispiel-IBAN: AB12 1234 1234 1234 1234 12</mat-hint>
    </mat-form-field>
  </form>
}
