@use 'variables';

sn-header {
  position: sticky;
  top: 0;
  background: var(--white);
  display: flex;
  z-index: 3;
}

sn-footer {
  z-index: 2;
}

sn-checkout-button {
  display: flex;
  justify-content: flex-end;
  margin-top: map-get(variables.$margins, 'default');
}
