@use 'variables';
@use 'sass:map';

:host {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

sn-products-item {
  width: 25rem;
  flex: 0 0 25rem;
  margin-right: map.get(variables.$margins, 'default');
  margin-bottom: map.get(variables.$margins, 'default');
  margin-left: map.get(variables.$margins, 'default');
}
