<ng-container *transloco="let t1; prefix: 'settings'">
  <ng-container *transloco="let t2; prefix: 'auth.validation'">
    <form>
      @let form = paymentInformationForm();
      <mat-form-field>
        <mat-label>{{ t1('iban') }}</mat-label>
        <input id="iban" type="text" matInput [formField]="form.iban" />
        @for (error of form.iban().errors(); track error) {
          <mat-error>{{ error | errorMessage | transloco }}</mat-error>
        }
        <mat-hint>{{ t1('ibanHint') }}</mat-hint>
      </mat-form-field>
    </form>
  </ng-container>
</ng-container>
