@use 'variables';

:host {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

sn-product-groups-item {
  flex: 0 0 30%;
  margin-right: map-get(variables.$margins, 'default');
  margin-bottom: map-get(variables.$margins, 'default');
  margin-left: map-get(variables.$margins, 'default');
}
