@use 'variables';
@use 'sass:map';

:host {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: var(--mat-sys-primary);
  padding: map.get(variables.$paddings, 'large');

  .information-block {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    color: var(--mat-sys-on-primary);

    a {
      display: flex;
      align-items: center;
      column-gap: 1rem;
      text-decoration: none;
      width: fit-content;
      color: var(--mat-sys-on-primary);
    }
  }

  * {
    font-size: smaller;
  }
}
