<ng-container *transloco="let translate; prefix: 'core'">
  <img src="assets/images/logo.svg" [alt]="translate('dashboardAnchor')" width="100" />
  <div class="information-block">
    <h2>{{ translate('contact') }}</h2>
    <a routerLink="404"><mat-icon>phone</mat-icon>+49 5251 1581 0</a>
    <a routerLink="404"><mat-icon>fax</mat-icon>+49 5251 1581 71</a>
    <a routerLink="404"><mat-icon>mail</mat-icon>info@sn-invent.de</a>
  </div>
  <div class="information-block">
    <h2>{{ translate('aboutSnWebshop') }}</h2>
    <a routerLink="404"><mat-icon>chevron_right</mat-icon>{{ translate('aboutUs') }}</a>
    <a routerLink="404"><mat-icon>chevron_right</mat-icon>{{ translate('impressum') }}</a>
  </div>
</ng-container>
