@use 'variables';
@use 'sass:map';

:host {
  display: flex;
  flex-direction: column;
}

.name-and-rating {
  display: flex;

  h1 {
    margin-right: map.get(variables.$margins, 'default');
  }
}

.detailed-description {
  font-size: 75%;
}
