<ng-container>
  <h2>articles</h2>
  <div class="products">
    @for (checkoutProduct of checkoutProducts(); track checkoutProduct) {
      <sn-checkout-product
        [product]="checkoutProduct.product"
        [quantity]="checkoutProduct.quantity"
        (quantityChange)="onQuantityReduce($event, checkoutProduct.product.id)"
      ></sn-checkout-product>
    }
    @if (checkoutProducts().length === 0) {
      <p>
        <b> Ihr Warenkorb ist leer </b>
      </p>
    }
  </div>
</ng-container>
