<ng-container *transloco="let translate">
  @if (addressForm) {
    <form [formGroup]="addressForm">
      <mat-form-field class="street-nr" appearance="outline">
        <mat-label>{{ translate('settings.streetNr') }}</mat-label>
        <input type="text" matInput formControlName="streetNr" />
        @if (addressForm.get('streetNr')?.hasError('required')) {
          <mat-error>{{ translate('validation.required') }}</mat-error>
        }
      </mat-form-field>
      <mat-form-field class="zip" appearance="outline">
        <mat-label>{{ translate('settings.zip') }}</mat-label>
        <input type="text" matInput formControlName="zip" />
        @if (addressForm.get('zip')?.hasError('required')) {
          <mat-error>{{ translate('validation.required') }}</mat-error>
        }
      </mat-form-field>
      <mat-form-field class="city" appearance="outline">
        <mat-label>{{ translate('settings.city') }}</mat-label>
        <input type="text" matInput formControlName="city" />
        @if (addressForm.get('city')?.hasError('required')) {
          <mat-error>{{ translate('validation.required') }}</mat-error>
        }
      </mat-form-field>
    </form>
  }
</ng-container>
