@use 'variables';

mat-card-content {
  display: flex;
  flex-wrap: wrap;
}

.checkout-information {
  display: flex;
  flex-direction: column;
  flex: auto;
  margin-right: map-get(variables.$margins, 'default');
}

sn-confirm-checkout {
  flex: 1 1 30rem;
}
