<mat-card *transloco="let translate; prefix: 'auth'" appearance="outlined" (keyup.enter)="register()">
  <mat-card-title>{{ translate('registration.title') }}</mat-card-title>

  <mat-card-content *transloco="let translate2">
    <form [formGroup]="registerForm">
      <mat-form-field appearance="outline">
        <mat-label>{{ translate('name') }}</mat-label>
        <input id="name" type="text" matInput formControlName="name" />
        @if (registerForm.get('name')?.hasError('required')) {
          <mat-error>{{ translate2('validation.required') }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ translate('email') }}</mat-label>
        <input id="email" type="email" matInput autocomplete="username" formControlName="email" />
        @if (registerForm.get('email')?.status === 'PENDING') {
          <mat-spinner matSuffix [diameter]="18" />
        }
        @if (registerForm.get('email')?.hasError('required')) {
          <mat-error>{{ translate2('validation.required') }}</mat-error>
        }
        @if (registerForm.get('email')?.hasError('email')) {
          <mat-error>{{ translate2('validation.email') }}</mat-error>
        }
        @if (registerForm.get('email')?.hasError('emailAlreadyUsed')) {
          <mat-error>{{ translate2('validation.emailAlreadyUsed') }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ translate('password') }}</mat-label>
        <input id="password" type="password" matInput autocomplete="new-password" formControlName="password" />
        @if (registerForm.get('password')?.hasError('passwordStrength')) {
          <mat-error>
            {{ translate2('validation.passwordStrength') }}
          </mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ translate('password2') }}</mat-label>
        <input
          id="confirmPassword"
          type="password"
          matInput
          autocomplete="new-password"
          formControlName="confirmPassword" />
        @if (registerForm.get('confirmPassword')?.hasError('required')) {
          <mat-error>{{ translate2('validation.required') }} </mat-error>
        }
        @if (registerForm.get('confirmPassword')?.hasError('passwordsMatch')) {
          <mat-error>{{ translate2('validation.passwordsMatch') }}</mat-error>
        }
      </mat-form-field>
      <sn-address-form></sn-address-form>

      <sn-payment-information-form></sn-payment-information-form>
    </form>
  </mat-card-content>
  @if (invalidRegistration) {
    <mat-error> {{ translate('registration.invalid') }} </mat-error>
  }
  <mat-card-actions>
    <button
      mat-raised-button
      color="primary"
      [disabled]="registerForm.invalid || registerForm.status === 'PENDING'"
      (click)="register()"
      (keyup.enter)="register()">
      {{ translate('createAccount') }}
    </button>
  </mat-card-actions>
</mat-card>
