@use 'variables';

:host {
  max-width: variables.$app-max-width;
  margin: 0 auto;
  display: block;
}

form {
  display: flex;

  > mat-form-field {
    flex: 1 1 50%;

    &:first-child {
      margin-right: map-get(variables.$margins, 'default');
    }
  }
}

mat-card-actions {
  display: flex;
  justify-content: center;
}
