<mat-card appearance="outlined" (keyup.enter)="login()">
  <mat-card-title> Anmeldung</mat-card-title>

  <mat-card-content>
    <form [formGroup]="loginForm">
      <mat-form-field dataTestId="email">
        <mat-label>E-Mail Adresse</mat-label>
        <input id="email" type="text" matInput formControlName="email"/>
        @if (loginForm.get('email')?.hasError('required')) {
          <mat-error>
            Pflichtangabe
          </mat-error>
        }
        @if (loginForm.get('email')?.hasError('email')) {
          <mat-error>
            E-Mail Adresse ungültig
          </mat-error>
        }
      </mat-form-field>

      <mat-form-field dataTestId="password">
        <mat-label>Passwort</mat-label>
        <input id="password" type="password" matInput formControlName="password"/>
        @if (loginForm.get('password')?.hasError('required')) {
          <mat-error>
            Pflichtangabe
          </mat-error>
        }
      </mat-form-field>
    </form>
  </mat-card-content>
  @if (invalidLogin) {
    <mat-error>
      E-Mail und/oder Passwort falsch! Bitte überprüfen Sie Ihre Eingaben.
    </mat-error>
  }
  <mat-card-actions>
    <button
      dataTestId="login-button"
      mat-raised-button
      color="primary"
      [disabled]="!loginForm.valid"
      (click)="login()"
      >
      Anmelden
    </button>

    <a
      dataTestId="register-anchor"
      mat-raised-button
      color="primary"
      [routerLink]="['/' + absoluteAppRoutes.registration]"
      >
      Registrieren
    </a>
  </mat-card-actions>
</mat-card>
