@use 'variables';

button + button {
  margin-left: map-get(variables.$margins, 'default');
}

.addresses {
  display: flex;
  align-items: center;
}

mat-card-actions {
  display: flex;
  justify-content: center;
}
